<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--
	  <add name="DAL.Properties.Settings.BMPConnection" connectionString="Data Source=SYNTWDD0131-PC;Initial Catalog=GSD;Persist Security Info=True;User ID=sa;Password=google123$"
      providerName="System.Data.SqlClient" />
-->
    <add name="TestConnection" connectionString="Data Source=SYNTWDD0131-PC;Initial Catalog=TestLDF;Persist Security Info=True;User ID=sa;Password=google123$" providerName="System.Data.SqlClient"/>
    <!--<add name="DAL.Properties.Settings.LDFSystem" connectionString="Data Source=SYNTWDD0131-PC;Initial Catalog=LDFFINAL;Persist Security Info=True;User ID=sa;Password=google123$" providerName="System.Data.SqlClient"/>-->
    <add name="DAL.Properties.Settings.LDFSystem" connectionString="Data Source=SYNTWDD0131-PC;Initial Catalog=TestLDF;Persist Security Info=True;User ID=sa;Password=google123$;Max Pool Size=10000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <add key="Admin" value="Admin"/>
    <add key="PrimarySalesSPoc" value="Primary Sales SPoc"/>
    <add key="SecondarySalesSPoc" value="Secondary Sales SPoc"/>
    <add key="DMSales" value="DM Sales"/>
    <add key="DeliveryDirector" value="Delivery Director"/>
    <add key="VerticalPreSalesHead" value="Vertical Pre Sales Head"/>
    <add key="BidManager" value="Bid Manager"/>
    <add key="BidCoordinator" value="Bid Coordinator"/>
    <add key="DeliveryManager" value="Delivery Manager"/>
    <add key="DeliveryManagerSPoC" value="Delivery Manager SPoC"/>
    <add key="GPTMember" value="GPT Member"/>
    <add key="TopManagement" value="Top Management"/>
    <add key="BUHead" value="BU Head"/>
    <add key="GPTHead" value="GPT Head"/>
    <add key="GeographyHead" value="Geography Head"/>


    <add key="SMTPSERVER" value="cas2.syntelorg.com" />
    <add key="EmailFrom" value="Amol_Shinde@TSYNTELORG.COM" />
    <add key="username" value="Tsyntelorg\AS26446" />
    <add key="Password" value="user123$" />
    <add key="Port" value="587" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="AjaxControlToolkit, Version=4.1.7.0725, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
      </assemblies>
    </compilation>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="120"></forms>
    </authentication>-->

    <authorization>
      <deny users="?"/>
    </authorization>
    <siteMap defaultProvider="oldProvider">
      <providers>
        <clear/>
        <add name="oldProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap"/>
        <add name="newProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AdminPages/Web.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
  <location path="AdminPages">
    <system.web>
      <authorization>
        <allow roles="100"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
       path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <!--<system.web>
    <sessionState timeout="20"></sessionState>
  </system.web>-->
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.725" newVersion="4.1.7.725" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>
